<footer class="container">
    <div class="content-footer">
        <div class="footer-title">
            <a href="#" class="footer-text text-transform">Tour</a>
        </div>
        <div>
            <a href="#" class="footer-text text-transform">Stories</a>
        </div>
        <div class="footer-title">
            <a href="#" class="footer-text text-transform">Connect</a>
            <a href="#" class="footer-link">Blog</a>
            <a href="#" class="footer-link">News & Press</a>
            <a href="#" class="footer-link">Events</a>
            <a href="#" class="footer-link">Ambassadors</a>
            <a href="#" class="footer-link">Partners</a>
        </div>
        <div class="footer-title">
            <a href="#" class="footer-text text-transform">Resources</a>
            <a href="#" class="footer-link">Video</a>
            <a href="#" class="footer-link">Webinars</a>
            <a href="#" class="footer-link">Presentations</a>
            <a href="#" class="footer-link">Best Practices</a>
            <a href="#" class="footer-link">Product Info</a>
            <a href="#" class="footer-link">Research</a>
            <a href="#" class="footer-link">Stories</a>
            <a href="#" class="footer-link">Professional Services</a>
        </div>
        <div class="footer-title">
            <a href="#" class="footer-text text-transform">About</a>
            <a href="#" class="footer-link">Careers</a>
            <a href="#" class="footer-link">Contact</a>
        </div>
        <div class="footer-coppa">
            <img src="../../../assets/images/coppa.png" alt="Coppa">
        </div>
    </div>

    <div class="derechos">
        <div class="derechos-izquierda">
            <p>2022 Schoology. All rights reserved.</p>
        </div>

        <div class="derechos-derecha">
            <p>Privacy policy</p>
            <span class="character">|</span>
            <p>Terms of Use</p>
        </div>
    </div>
</footer>
