<nav class="nav-bar">
    <div class="container-nav">
        <div class="izquierda">
            <a href="/home" class="links">
                <img src="../../../assets/images/logo1.jpeg" alt="Logo Schoology" title="home" width="200px">
            </a>
            <a href="#" class="links">Tour</a>
            <a href="#" class="links">Stories</a>
            <a href="#" class="links">Connect</a>
            <a href="#" class="links">Resources</a>
            <a href="#" class="links">Blog</a>
            <a href="#" class="links">About</a>
        </div>

        <div class="derecha">
            <a href="/login" class="links text-transform">Log In</a>
            <span class="character">|</span>
            <a href="#" class="links text-transform">Sign up</a>
            <a href="#" class="demo text-transform">request a demo</a>
        </div>
    </div>
</nav>