<form class="container form">
  <div class="informacion">
    <h2>Sing in to Schoology</h2>
    <p>All fields are required</p>

    <div class="campos">
      <input type="text" placeholder="Email or Username" required>
      <input type="Password" placeholder="Password" required>
    </div>

    <div class="flex">
      <button class="btn-4">Log In</button>
      <div class="flex-hijo">
        <a href="/forgot">Forgot your password</a>
        <a href="/sso">SSO Login</a>
      </div>
    </div>
  </div>
</form>