<main class="container">
    <div class="conteiner-main">
        <div class="content-text">
            <h1 class="main__text">PowerSchool Is Here to Help</h1>

            <p class="main__text--p">
                PowerSchool is doing everything we can to make it easy for districts to get up and running with distance
                learning.
            </p>
            <button class="btn text-transform">Learn more</button>
        </div>

        <div class="content-img">
            <img src="../../../assets/images/home.jpg" alt="Imagen inicio" class="img-max" />
        </div>
    </div>
</main>

<div class="check-out">
    <div class="check-out__imagen">
        <img src="../../../assets/images/icono1.png" alt="Icono persona" width="150px" />
    </div>
    <div class="check-out__contenido">
        <h2>
            Check out home learning tips & tricks for parents!
        </h2>
        <p>
            The Parent Channel on PowerSchool TV offers resources, tips and real stories from parents who are doing
            their best to make distance learning work. Check it out today! ​
        </p>
        <button class="btn-2 text-transform">
            Visit powerschool tv
        </button>
    </div>
</div>

<div class="what-makes">
    <h2 class="what-makes__text">What makes Schoology great</h2>
    <div class="what-makes__linea">
    </div>

    <div class="what-makes__content">
        <div class="targets">
            <div class="cards">
                <div class="cards-image">
                    <img src="../../../assets/images/icono2.png" alt="Icono 2">
                </div>

                <div class="cards-information">
                    <h3>Focused on K-12 schools just like yours</h3>
                    <p>
                        Elementary students don’t learn the same way as college students or adults. Schoology was
                        designed
                        for
                        all students—from kindergarten through 12th grade—to be fully engaged with their learning.
                    </p>
                </div>
            </div>
            <div class="cards">
                <div class="cards-image">
                    <img src="../../../assets/images/icono3.png" alt="">
                </div>

                <div class="cards-information">
                    <h3>Designed for district success</h3>

                    <p>
                        Schoology has spent the last 10 years learning from our 1,600+ customers and more than 20
                        million
                        users
                        about what products and services classrooms, schools, and entire districts need to be
                        successful.
                    </p>
                </div>
            </div>
            <div class="cards">
                <div class="cards-image">
                    <img src="../../../assets/images/icono4.png" alt="">
                </div>

                <div class="cards-information">
                    <h3>Bring your community together</h3>

                    <p>
                        Learning is not just about teachers and students. Schoology allows you to bring everyone
                        together—students, teachers, coaches, parents, administrators—with one communication and
                        collaboration
                        platform.
                    </p>
                </div>
            </div>
        </div>
        <button class="btn-3 text-transform">Learn more</button>
    </div>
</div>

<div class="educational">
    <div class="educational-information container">
        <div class="information">
            <div class="educational-image">
                <img src="../../../assets/images/enchufe.png" alt="Conexions" width="300px">
            </div>

            <div class="educational-text">
                <h3>200+ educational tools and platform integrations</h3>

                <p>Schoology has every tool your classroom needs and comes pre-integrated with more than 200+ tools,
                    student
                    information systems (SIS), and education platforms.</p>
            </div>

            <button class="btn-3 text-transform">
                See all integrations
            </button>
        </div>
        <div class="educational-images">
            <div class="educational-elements">
                <img src="../../../assets/images/1.png" alt="One Drive">
            </div>
            <div class="educational-elements">
                <img src="../../../assets/images/2.png" alt="Google Drive">
            </div>
            <div class="educational-elements">
                <img src="../../../assets/images/3.jpg" alt="Khan Academy">
            </div>
            <div class="educational-elements">
                <img src="../../../assets/images/4.png" alt="Discovery">
            </div>
            <div class="educational-elements">
                <img src="../../../assets/images/5.png" alt="McHill">
            </div>
            <div class="educational-elements">
                <img src="../../../assets/images/6.png" alt="Neardpad">
            </div>
            <div class="educational-elements">
                <img src="../../../assets/images/7.jpg" alt="Respondus">
            </div>
            <div class="educational-elements">
                <img src="../../../assets/images/8.png" alt="Brian Pop">
            </div>
        </div>
    </div>
</div>